.dx-btn {
    display: block;
    padding: .426667rem .32rem;
    margin: .16rem 0;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: .426667rem;
    line-height: 1;
    color: #606266;
    background: #fff;
    outline: none;
    border: none;
    border-radius: .133333rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.dx-btn:after {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    border: 1PX solid #ccc;
    border-radius: 5PX;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

@media (min-resolution: 2dppx) {
    .dx-btn:after {
        width:200%;
        height: 200%;
        border-radius: 10PX;
        transform: scale(.5)
    }
}

@media (min-resolution: 3dppx) {
    .dx-btn:after {
        width:300%;
        height: 300%;
        border-radius: 15PX;
        transform: scale(.333)
    }
}

.dx-btn.dx-btn_active,.dx-btn:active {
    background: #ecf5ff;
    color: #409eff;
    position: relative
}

.dx-btn.dx-btn_active:after,.dx-btn:active:after {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    border: 1PX solid #c6e2ff;
    border-radius: 5PX;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

@media (min-resolution: 2dppx) {
    .dx-btn.dx-btn_active:after,.dx-btn:active:after {
        width:200%;
        height: 200%;
        border-radius: 10PX;
        transform: scale(.5)
    }
}

@media (min-resolution: 3dppx) {
    .dx-btn.dx-btn_active:after,.dx-btn:active:after {
        width:300%;
        height: 300%;
        border-radius: 15PX;
        transform: scale(.333)
    }
}

.dx-btn_primary {
    color: #fff;
    background: #409eff
}

.dx-btn_primary1 {
    color: #fff;
    background: #a0a0a1
}

.dx-btn_primary.dx-btn_active,.dx-btn_primary:active {
    background: rgba(64,158,255,.8);
    color: #fff
}

.dx-btn_success {
    color: #fff;
    background: #67c23a
}

.dx-btn_success.dx-btn_active,.dx-btn_success:active {
    background: rgba(103,194,58,.8);
    color: #fff
}

.dx-btn_danger {
    color: #fff;
    background: #f56c6c
}

.dx-btn_danger.dx-btn_active,.dx-btn_danger:active {
    background: rgba(245,108,108,.8);
    color: #fff
}

.dx-btn_warning {
    color: #fff;
    background: #e6a23c
}

.dx-btn_warning.dx-btn_active,.dx-btn_warning:active {
    background: rgba(230,162,60,.8);
    color: #fff
}

.dx-btn_info {
    color: #fff;
    background: #909399
}

.dx-btn_info.dx-btn_active,.dx-btn_info:active {
    background: rgba(144,147,153,.8);
    color: #fff
}

.dx-btn_round {
    border-radius: 1.333333rem;
    position: relative
}

.dx-btn_round:after {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    border: 1PX solid #ccc;
    border-radius: 50PX;
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

@media (min-resolution: 2dppx) {
    .dx-btn_round:after {
        width:200%;
        height: 200%;
        border-radius: 100PX;
        transform: scale(.5)
    }
}

@media (min-resolution: 3dppx) {
    .dx-btn_round:after {
        width:300%;
        height: 300%;
        border-radius: 150PX;
        transform: scale(.333)
    }
}

.dx-form[data-v-558d2c74] {
    background: #fff
}

.dx-form .dx-form_header[data-v-558d2c74] {
    padding: .426667rem;
    text-align: justify;
    border-bottom: .426667rem solid #f6f6f6
}

.dx-form .dx-form_header .dx-form_header-title[data-v-558d2c74] {
    font-size: .533333rem;
    line-height: 1.429;
    font-weight: 700;
    border-bottom: .026667rem solid #f6f6f6
}

.dx-form .dx-form_header .dx-form_header-description[data-v-558d2c74] {
    padding-top: .213333rem;
    font-size: .373333rem;
    line-height: 1.429;
    white-space: pre-line
}

.dx-form .dx-form_body .dx-form_body-box[data-v-558d2c74] {
    padding: .213333rem .426667rem;
    color: #3c3c3c;
    border-bottom: .32rem solid #f6f6f6
}

.dx-form .dx-form_body .dx-form_body-box .dx-form_body-box-label[data-v-558d2c74] {
    position: relative;
    text-align: justify;
    font-size: .426667rem;
    line-height: 1.429
}

.dx-form .dx-form_body .dx-form_body-box .dx-form_body-box-label .dx-form_body-box-label_required[data-v-558d2c74] {
    position: absolute;
    font-size: .426667rem;
    color: #f56c6c;
}

.dx-form .dx-form_body .dx-form_body-box .dx-form_body-box-label .dx-form_body-box-label_order[data-v-558d2c74],.dx-form .dx-form_body .dx-form_body-box .dx-form_body-box-label .dx-form_body-box-label_text[data-v-558d2c74] {
    margin-left: .213333rem
}

.dx-form .dx-form_footer[data-v-558d2c74] {
    padding: .266667rem .426667rem
}

.dx-form .dx-form_footer .dx-btn-group[data-v-558d2c74] {
    display: flex;
    justify-content: space-around;
    width: 100%
}

.dx-form .dx-form_footer .dx-btn-group .dx-btn[data-v-558d2c74] {
    flex-basis: 40%
}

.dx-input[data-v-920aa3bc] {
    display: flex;
    align-items: center;
    font-size: .373333rem;
    line-height: 1.429;
    background-color: #fff
}

.dx-input-field[data-v-920aa3bc] {
    display: block;
    flex: 1;
    font-size: 50px;
    width: 100%;
    min-width: 0;
    padding: .16rem .213333rem;
    box-sizing: border-box;
    color: #3c3c3c;
    line-height: inherit;
    background-color: inherit;
    border-radius: .053333rem;
    outline: none
}

.dx-input-field[data-v-920aa3bc]::input-placeholder {
    color: #ccc;
    text-overflow: ellipsis
}

.dx-input_active[data-v-920aa3bc]:after {
    border-color: #409eff
}

.dx-input-append[data-v-920aa3bc] {
    display: flex;
    align-items: center
}

.dx-input-clear[data-v-920aa3bc],.dx-input-eye[data-v-920aa3bc] {
    width: 1em;
    height: 1em;
    line-height: 1;
    padding: .266667rem;
    box-sizing: content-box;
    color: #999
}

.dx-input-clear>i[data-v-920aa3bc],.dx-input-eye>i[data-v-920aa3bc] {
    display: inline-block;
    transform: scale(1.2)
}

.dx-textarea[data-v-85bbc094] {
    position: relative;
    display: flex;
    align-items: center;
    font-size: .373333rem;
    line-height: 1.429;
    background-color: #fff
}

.dx-textarea-field[data-v-85bbc094] {
    display: block;
    flex: 1;
    font-size: .426667rem;
    text-align: left;
    resize: none;
    overflow: hidden;
    line-height: inherit;
    text-indent: inherit;
    letter-spacing: inherit;
    width: 100%;
    min-width: 0;
    padding: .16rem .213333rem;
    background: rgba(0,0,0,0);
    box-sizing: border-box;
    color: #3c3c3c;
    border-radius: .053333rem;
    outline: 0;
    border: none;
    margin: 0 auto
}

.dx-textarea-field[data-v-85bbc094],.dx-textarea-field[data-v-85bbc094]::input-placeholder {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif
}

.dx-textarea-field[data-v-85bbc094]::input-placeholder {
    color: #ccc;
    text-overflow: ellipsis
}

.dx-input_active[data-v-85bbc094]:after {
    border-color: #409eff
}

.dx-box[data-v-212c400e] {
    position: relative;
    padding: .266667rem
}

.dx-box .dx-box-header .dx-box-header_title[data-v-212c400e] {
    font-size: .373333rem;
    line-height: 1.429;
    text-align: left;
    padding: .266667rem .373333rem;
    font-weight: 600
}

.dx-box .dx-box-footer[data-v-212c400e] {
    border-top: .026667rem solid #eee
}

.dx-box .dx-box-footer .dx-box-footer_label[data-v-212c400e] {
    font-size: .373333rem;
    padding: .373333rem
}

.dx-popup[data-v-43dbfec1] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    pointer-events: none
}

.dx-popup_mask[data-v-43dbfec1] {
    pointer-events: auto
}

.dx-popup_mask .dx-popup-mask[data-v-43dbfec1] {
    display: block
}

.dx-popup-container[data-v-43dbfec1],.dx-popup-mask[data-v-43dbfec1] {
    position: absolute;
    width: 100%;
    height: 100%
}

.dx-popup-mask[data-v-43dbfec1] {
    display: none;
    overflow: hidden;
    background-color: #25262d;
    opacity: .4;
    pointer-events: auto
}

.dx-popup-mask[data-v-43dbfec1]:before {
    content: ".";
    display: block;
    width: .026667rem;
    height: .026667rem;
    background-color: rgba(0,0,0,.1);
    margin-left: -.266667rem
}

.dx-popup-container[data-v-43dbfec1] {
    transform: translate(100%,100%)
}

.dx-popup-content[data-v-43dbfec1] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transform: translate(-100%,-100%);
    pointer-events: auto
}

.dx-popup-center .dx-popup-content[data-v-43dbfec1],.dx-popup-left .dx-popup-content[data-v-43dbfec1],.dx-popup-right .dx-popup-content[data-v-43dbfec1] {
    top: -50%;
    left: -50%;
    width: auto;
    max-width: 100%;
    transform: translate(0)
}

.dx-popup-left .dx-popup-content[data-v-43dbfec1],.dx-popup-right .dx-popup-content[data-v-43dbfec1] {
    height: 100%;
    top: -100%
}

.dx-popup-center .dx-popup-content[data-v-43dbfec1] {
    transform: translate(-50%,-50%)
}

.dx-popup-top .dx-popup-content[data-v-43dbfec1] {
    top: -100%;
    left: -100%;
    transform: translate(0)
}

.dx-popup-right .dx-popup-content[data-v-43dbfec1] {
    top: -100%;
    right: 100%
}

.dx-popup-left .dx-popup-content[data-v-43dbfec1] {
    left: -100%
}

.dx-radio[data-v-212f798e] {
    font-size: .426667rem;
    line-height: 1.429
}

.dx-radio .dx-radio_box[data-v-212f798e] {
    padding: .16rem .213333rem
}

.dx-radio .dx-radio_box[data-v-212f798e] .cube-radio-wrap {
    padding: .213333rem 0
}

.dx-checkbox[data-v-7ee54fe0] {
    font-size: .426667rem;
    line-height: 1.429
}

.dx-checkbox .dx-checkbox_box[data-v-7ee54fe0] {
    padding: .16rem .213333rem
}

.dx-checkbox .dx-checkbox_box[data-v-7ee54fe0] .cube-radio-wrap {
    padding: .213333rem 0
}

.layout[data-v-69c87bfd] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #fff
}

.grade[data-v-7fb4c3ee] {
    position: relative
}

.grade[data-v-7fb4c3ee] .cube-scroll-nav-bar-item {
    font-size: .426667rem
}

.grade .no-score[data-v-7fb4c3ee] {
    font-size: .426667rem;
    padding-top: 5.333333rem
}

.grade .box-grade[data-v-7fb4c3ee] {
    padding: .533333rem;
    text-align: left
}

.grade .box-grade .title[data-v-7fb4c3ee] {
    font-size: .426667rem;
    padding: 0 0 .533333rem;
    font-weight: 600
}

.grade .box-grade .item[data-v-7fb4c3ee] {
    display: flex;
    font-size: .373333rem;
    padding: .266667rem 0
}

.grade .box-grade .item .gpa[data-v-7fb4c3ee] {
    flex-basis: 1.066667rem;
    height: 1.066667rem;
    margin: auto;
    color: #fff;
    text-align: center;
    line-height: 1.066667rem;
    border-radius: 50%;
    font-weight: 600
}

.grade .box-grade .item .body[data-v-7fb4c3ee] {
    margin: 0 .266667rem;
    flex: 1
}

.grade .box-grade .item .body .label[data-v-7fb4c3ee] {
    font-size: .426667rem;
    line-height: .64rem;
    font-weight: 600
}

.grade .box-grade .item .body .credit[data-v-7fb4c3ee] {
    line-height: .426667rem;
    color: #909399;
    font-weight: 600
}

.grade .box-grade .item .score[data-v-7fb4c3ee] {
    flex-basis: 0.8rem;
    margin: auto;
    font-weight: 600
}

.grade .box-grade .item .icon[data-v-7fb4c3ee] {
    flex-basis: 0.64rem;
    font-size: .426667rem;
    line-height: 1.066667rem;
    margin: auto;
    color: #909399
}

.dx-dialog[data-v-5e55e83d] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 .026667rem .106667rem #888;
    z-index: 999
}

.dx-class-card[data-v-16a1fb69] {
    position: relative;
    border-radius: .133333rem;
    margin: .266667rem;
    padding: .266667rem .533333rem;
    z-index: 1
}

.dx-class-card .badge[data-v-16a1fb69] {
    position: absolute;
    top: -.133333rem;
    right: -.133333rem;
    height: .266667rem;
    width: .266667rem;
    border-radius: 50%;
    border: .133333rem solid #fff
}

.dx-class-card .header[data-v-16a1fb69] {
    display: flex
}

.dx-class-card .header .label[data-v-16a1fb69] {
    flex: 1;
    font-size: .48rem;
    line-height: .693333rem;
    text-align: left;
    font-weight: 600
}

.dx-class-card .header .time[data-v-16a1fb69] {
    text-align: right;
    flex-basis: 1.6rem;
    font-size: .373333rem;
    line-height: .8rem
}

.dx-class-card .body .item[data-v-16a1fb69] {
    display: flex;
    line-height: .64rem;
    text-align: left
}

.dx-class-card .body .item .icon[data-v-16a1fb69] {
    font-size: .426667rem;
    height: .64rem
}

.dx-class-card .body .item .label[data-v-16a1fb69] {
    flex: 1;
    text-indent: .16rem;
    font-size: .373333rem
}

.bottomSlide-enter-active[data-v-25006892],.bottomSlide-leave-active[data-v-25006892] {
    transition: all .3s
}

.bottomSlide-enter[data-v-25006892],.bottomSlide-leave-to[data-v-25006892] {
    transform: translate3d(0,100%,0)
}

.course[data-v-25006892] {
    position: relative
}

.course .box-table .schedule[data-v-25006892] {
    font-size: .426667rem
}

.course .box-table .header[data-v-25006892] {
    display: flex
}

.course .box-table .header .zero[data-v-25006892] {
    flex-basis: 0.533333rem
}

.course .box-table .header .th[data-v-25006892] {
    display: block;
    line-height: .8rem;
    flex: 1
}

.course .box-table .body[data-v-25006892] {
    display: flex;
    flex-direction: column
}

.course .box-table .body .box-body[data-v-25006892] {
    border-top: .026667rem solid #eee;
    display: flex;
    height: 1.866667rem
}

.course .box-table .body .box-body .span[data-v-25006892] {
    line-height: 1.866667rem;
    flex-basis: 0.533333rem
}

.course .box-table .body .box-body .td[data-v-25006892] {
    display: block;
    flex: 1
}

.course .box-table .class-item[data-v-25006892] {
    position: absolute;
    background: rgba(64,158,255,.9);
    font-size: .373333rem;
    line-height: .533333rem;
    color: #fff;
    border-radius: .133333rem;
    text-align: left
}

.school-car[data-v-3ecd65c5] {
    position: relative
}

.school-car h1[data-v-3ecd65c5] {
    font-weight: 700;
    font-size: .48rem;
    text-align: center;
    padding: .266667rem 0
}

.school-car h2[data-v-3ecd65c5] {
    font-size: .426667rem;
    font-weight: 700;
    color: #ff0097;
    text-align: center
}

.school-car p[data-v-3ecd65c5] {
    font-size: .373333rem;
    text-align: center;
    padding: .133333rem
}

.school-car table[data-v-3ecd65c5] {
    margin: 0 auto .533333rem;
    text-align: center
}

.school-car table tr td[data-v-3ecd65c5] {
    font-size: .426667rem;
    line-height: 1.429;
    text-align: center;
    border: .026667rem solid;
    padding: .186667rem .106667rem;
    vertical-align: middle
}

.form[data-v-8bca8c28] {
    position: relative
}

.tab-bar[data-v-980f4e96] {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.6rem;
    background: #fff;
    z-index: 2;
    display: flex;
    box-shadow: 0 .026667rem .106667rem #888
}

.tab-bar .bar[data-v-980f4e96] {
    padding-top: .266667rem;
    flex: 1 1 33.33%
}

.tab-bar .bar .icon[data-v-980f4e96] {
    display: block;
    font-size: .64rem;
    height: .64rem;
    width: .64rem;
    line-height: .64rem;
    margin: auto
}

.tab-bar .bar .label[data-v-980f4e96] {
    display: block;
    font-size: .373333rem;
    height: .746667rem;
    line-height: .746667rem
}

.tab-bar .bar.router-link-active[data-v-980f4e96] {
    color: #1296db
}

.layout[data-v-72d33eb0] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1
}

.layout .view[data-v-72d33eb0] {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 1.6rem;
    z-index: 1
}

.app-bar[data-v-940cbb06] {
    position: relative;
    z-index: 1
}

.app-bar .app-box[data-v-940cbb06] {
    display: flex;
    flex-wrap: wrap
}

.app-bar .app-box .item[data-v-940cbb06] {
    display: inline-block;
    flex-basis: 25%;
    margin: .266667rem 0;
    z-index: 1
}

.app-bar .app-box .item .icon[data-v-940cbb06] {
    font-size: .746667rem
}

.app-bar .app-box .item .label[data-v-940cbb06] {
    padding-top: .213333rem;
    font-size: .373333rem
}

.box-card[data-v-37fb6858] {
    position: relative;
    padding: .266667rem .266667rem 0
}

.box-card .header .title[data-v-37fb6858] {
    color: #3c3c3c;
    font-size: .373333rem;
    line-height: .533333rem;
    text-align: left;
    padding: .266667rem .4rem;
    font-weight: 600
}

.box-card .footer[data-v-37fb6858] {
    border-top: .026667rem solid #eee
}

.box-card .footer p[data-v-37fb6858] {
    font-size: .373333rem;
    padding: .4rem
}

.home[data-v-5f1a3c28] {
    position: relative
}

.home .box-work[data-v-5f1a3c28] {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: .266667rem .533333rem
}

.home .box-work .work-item[data-v-5f1a3c28] {
    position: relative;
    flex-basis: 50%;
    display: flex
}

.home .box-work .work-item .icon[data-v-5f1a3c28] {
    font-size: .96rem;
    line-height: .96rem;
    height: .96rem;
    margin: auto
}

.home .box-work .work-item .content[data-v-5f1a3c28] {
    flex: 1;
    text-align: left;
    padding-left: .266667rem
}

.home .box-work .work-item .content .label[data-v-5f1a3c28] {
    font-size: .373333rem;
    line-height: .533333rem
}

.home .box-work .work-item .content .intro[data-v-5f1a3c28] {
    font-size: .32rem;
    line-height: .426667rem
}

.me[data-v-4bad8d8a] {
    position: relative
}

.me .box-info[data-v-4bad8d8a] {
    position: relative;
    height: 3.2rem;
    margin: .266667rem;
    border-radius: .266667rem;
    background-size: 100%;
    z-index: 2
}

.me .box-info .user-info[data-v-4bad8d8a] {
    position: relative;
    top: .533333rem;
    margin: .266667rem;
    display: flex
}

.me .box-info .user-info .avatar[data-v-4bad8d8a] {
    flex-basis: 2.133333rem;
    height: 2.133333rem;
    border-radius: 50%;
    border: .026667rem solid #888;
    background: grey
}

.me .box-info .user-info .label[data-v-4bad8d8a] {
    flex: 1;
    text-align: left;
    margin: .533333rem .533333rem .266667rem
}

.me .box-info .user-info .label .name[data-v-4bad8d8a] {
    color: #3c3c3c;
    font-weight: 500;
    font-size: .64rem;
    line-height: .64rem;
    margin-bottom: .106667rem
}

.me .box-info .user-info .label .status[data-v-4bad8d8a] {
    font-size: .373333rem;
    line-height: .64rem
}

.me .box-info .user-info .label .uid[data-v-4bad8d8a] {
    color: #3c3c3c;
    font-size: .426667rem;
    line-height: .426667rem
}

.me .box-info .user-info .center[data-v-4bad8d8a] {
    flex-basis: 1.6rem;
    font-size: .4rem;
    line-height: 2.133333rem;
    color: #fff
}

.me .box-dorm[data-v-4bad8d8a] {
    display: block;
    position: relative;
    z-index: 1;
    margin: .266667rem;
    padding: .266667rem .533333rem;
    height: 1.92rem;
    border-radius: .266667rem;
    background-image: linear-gradient(to bottom right,#67c23a,#409eff);
    color: #fff;
    text-align: right;
    font-size: .48rem;
    line-height: .64rem
}

.me .box-dorm .label[data-v-4bad8d8a] {
    text-align: left;
    font-size: .373333rem
}

.me .box-dorm .not-bind[data-v-4bad8d8a] {
    text-align: center;
    line-height: 1.28rem
}

.me .box-menu[data-v-4bad8d8a] {
    position: relative;
    margin: .266667rem
}

.me .box-menu .menus .menu[data-v-4bad8d8a] {
    margin: .266667rem;
    height: .96rem;
    line-height: .96rem;
    display: flex
}

.me .box-menu .menus .menu .icon[data-v-4bad8d8a] {
    height: .96rem;
    font-size: .586667rem
}

.me .box-menu .menus .menu .label[data-v-4bad8d8a] {
    flex: 1;
    text-align: left;
    margin-left: .266667rem;
    line-height: .426667rem;
    font-size: .426667rem;
    padding: .266667rem;
    border-bottom: .026667rem solid #eee
}

.feedback[data-v-7d479756] {
    position: relative;
    padding: .266667rem
}

.feedback .support[data-v-7d479756] {
    position: relative;
    font-size: .32rem;
    margin-bottom: .266667rem
}

.feedback .box[data-v-7d479756] {
    text-align: justify;
    margin: .266667rem .266667rem .533333rem
}

.feedback .box .title[data-v-7d479756] {
    font-size: .426667rem;
    line-height: .72rem;
    font-weight: 600
}

.feedback .box .content[data-v-7d479756] {
    font-size: .373333rem;
    line-height: .56rem;
    text-indent: .746667rem
}

.feedback .last-edit-time[data-v-7d479756] {
    margin: .266667rem .266667rem .533333rem;
    text-align: justify;
    padding-top: .213333rem;
    font-size: .373333rem
}

.affairs-layout[data-v-fc5120ca] {
    position: relative
}

.card[data-v-76c88159] {
    position: relative;
    border-radius: .133333rem;
    margin: .266667rem;
    padding: .266667rem .533333rem;
    z-index: 1
}

.card .badge[data-v-76c88159] {
    position: absolute;
    top: -.133333rem;
    right: -.133333rem;
    height: .266667rem;
    width: .266667rem;
    border-radius: 50%;
    border: .133333rem solid #fff
}

.card .header[data-v-76c88159] {
    display: flex
}

.card .header .title[data-v-76c88159] {
    flex: 1;
    font-size: .48rem;
    line-height: 1.429;
    text-align: left;
    font-weight: 600
}

.card .header .sub-title[data-v-76c88159] {
    text-align: right;
    flex-basis: auto;
    font-size: .373333rem;
    line-height: 1.429
}

.card .body .item[data-v-76c88159] {
    margin: .106667rem 0;
    display: flex;
    line-height: .64rem;
    text-align: left
}

.card .body .item .icon[data-v-76c88159] {
    font-size: .426667rem;
    height: .64rem
}

.card .body .item .label[data-v-76c88159] {
    flex: 1;
    text-indent: .16rem;
    font-size: .426667rem
}

.affairs-leave[data-v-4a1a00ba] {
    position: relative
}

.affairs-leave .me-leave-body[data-v-4a1a00ba] {
    margin: 0 .213333rem
}

.affairs-leave .me-leave-body .title[data-v-4a1a00ba] {
    margin: .266667rem;
    font-size: .373333rem;
    text-align: left;
    font-weight: 700;
    line-height: 1.429
}

.force-read[data-v-a1e8d9a2] {
    position: relative;
    background: #fff;
    line-height: 1.429;
    padding: .426667rem;
    text-align: justify
}

.force-read h1[data-v-a1e8d9a2] {
    font-size: .48rem;
    font-weight: 700;
    text-align: center
}

.force-read h2[data-v-a1e8d9a2] {
    font-size: .426667rem;
    margin: .213333rem 0
}

.force-read h3[data-v-a1e8d9a2] {
    font-size: .4rem;
    text-indent: .426667rem
}

.force-read p[data-v-a1e8d9a2] {
    font-size: .373333rem;
    text-indent: .746667rem
}

.force-read .btn-group[data-v-a1e8d9a2] {
    margin: .853333rem
}

.affairs-post[data-v-6e04e240] {
    position: relative
}

.affairs-detail[data-v-d4d5c34c] {
    position: relative;
    padding: .426667rem
}

.affairs-detail .user-info[data-v-d4d5c34c] {
    font-size: .426667rem;
    text-align: left;
    line-height: 1.429
}

.affairs-detail .user-info .header[data-v-d4d5c34c] {
    color: #fff;
    text-align: justify;
    font-weight: 700;
    padding: .266667rem
}

.affairs-detail .user-info .body p[data-v-d4d5c34c] {
    text-align: left;
    padding: .213333rem;
    font-size: .373333rem;
    line-height: .48rem;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word
}

.affairs-detail .user-info .body p span[data-v-d4d5c34c]:nth-of-type(odd) {
    font-weight: 700
}

.affairs-detail .operate .tip[data-v-d4d5c34c] {
    font-size: .426667rem
}

.spinner[data-v-d4d5c34c] {
    padding: .35rem 0;
    height: 1.066667rem;
    margin: 0
}

.spinner>div[data-v-d4d5c34c] {
    height: .45rem;
    width: .22rem;
    margin: -2px;
    display: inline-block;
    animation: rectScale-data-v-d4d5c34c 1.0s ease infinite
}

.spinner>div[data-v-d4d5c34c]:first-of-type {
    animation-delay: -1.2s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(2) {
    animation-delay: -1.1s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(3) {
    animation-delay: -1s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(4) {
    animation-delay: -.9s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(5) {
    animation-delay: -.8s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(6) {
    animation-delay: -.7s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(7) {
    animation-delay: -.6s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(8) {
    animation-delay: -.5s
}

.spinner>div[data-v-d4d5c34c]:nth-of-type(9) {
    animation-delay: -.4s
}

@-moz-keyframes rectScale-data-v-d4d5c34c {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scaleY(2.5);
        /* transform: scaleX(0.8) */
    }
}

@-webkit-keyframes rectScale-data-v-d4d5c34c {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scaleY(2.5);
        /* transform: scaleX(0.8) */
    }
}

@-o-keyframes rectScale-data-v-d4d5c34c {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scale(2.5);
        /* transform: scaleX(0.8) */
    }
}

@keyframes rectScale-data-v-d4d5c34c {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scale(1, 2.5);
        /* transform: scaleX(0.8) */
    }
}

.novel-layout[data-v-08122b80] {
    position: relative
}

.novel-result[data-v-6ecaaa7f] {
    position: fixed;
    padding: 1.28rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6
}

.novel-result .icon[data-v-6ecaaa7f] {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.666667rem
}

.novel-result .tip[data-v-6ecaaa7f] {
    position: relative;
    font-size: .426667rem;
    line-height: 1.429;
    font-weight: 700;
    padding-top: 100%
}

.novel-result .time[data-v-6ecaaa7f] {
    font-size: .373333rem;
    font-weight: 700;
    line-height: 1.429
}

.report .title[data-v-3def435f] {
    font-size: .373333rem
}

.fever[data-v-3c882be3] {
    position: relative
}

.register[data-v-015c654b] {
    position: relative;
    padding: .266667rem
}

.register .user-info[data-v-015c654b] {
    font-size: .426667rem
}

.register .user-info .header[data-v-015c654b] {
    color: #fff;
    text-align: justify;
    font-weight: 700;
    padding: .266667rem
}

.register .user-info .body p[data-v-015c654b] {
    text-align: left;
    padding: .213333rem;
    font-size: .373333rem;
    line-height: .48rem;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word
}

.register .user-info .body p span[data-v-015c654b]:nth-of-type(odd) {
    font-weight: 700
}

.register .confirm-info[data-v-015c654b] {
    padding-top: .64rem;
    font-size: .426667rem;
    font-weight: 700
}

.register .btn-group[data-v-015c654b] {
    padding-top: .32rem
}

.register .btn-group .dx-btn[data-v-015c654b] {
    margin-top: .266667rem
}

.spinner[data-v-015c654b] {
    padding: .64rem 0;
    height: 1.066667rem;
    margin: 0
}

.spinner>div[data-v-015c654b] {
    height: .533333rem;
    width: .32rem;
    margin: .026667rem;
    background: #67cf22;
    display: inline-block;
    animation: rectScale-data-v-015c654b 1.4s ease infinite
}

.spinner>div[data-v-015c654b]:first-of-type {
    animation-delay: -1.2s
}

.spinner>div[data-v-015c654b]:nth-of-type(2) {
    animation-delay: -1.1s
}

.spinner>div[data-v-015c654b]:nth-of-type(3) {
    animation-delay: -1s
}

.spinner>div[data-v-015c654b]:nth-of-type(4) {
    animation-delay: -.9s
}

.spinner>div[data-v-015c654b]:nth-of-type(5) {
    animation-delay: -.8s
}

.spinner>div[data-v-015c654b]:nth-of-type(6) {
    animation-delay: -.7s
}

.spinner>div[data-v-015c654b]:nth-of-type(7) {
    animation-delay: -.6s
}

.spinner>div[data-v-015c654b]:nth-of-type(8) {
    animation-delay: -.5s
}

.spinner>div[data-v-015c654b]:nth-of-type(9) {
    animation-delay: -.4s
}

@-moz-keyframes rectScale-data-v-015c654b {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scaleY(2)
    }
}

@-webkit-keyframes rectScale-data-v-015c654b {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scaleY(2)
    }
}

@-o-keyframes rectScale-data-v-015c654b {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scaleY(2)
    }
}

@keyframes rectScale-data-v-015c654b {
    0%,50%,to {
        transform: scale(1)
    }

    25% {
        transform: scaleY(2)
    }
}

.register[data-v-28808210] {
    position: relative;
    padding: .266667rem
}

.register .user-info[data-v-28808210] {
    font-size: .426667rem
}

.register .user-info .header[data-v-28808210] {
    color: #fff;
    text-align: justify;
    font-weight: 700;
    padding: .266667rem
}

.register .user-info .body p[data-v-28808210] {
    text-align: left;
    padding: .213333rem;
    font-size: .373333rem;
    line-height: .48rem;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word
}

.register .user-info .body p span[data-v-28808210]:nth-of-type(odd) {
    font-weight: 700
}

.register .confirm-info[data-v-28808210] {
    padding-top: .64rem;
    font-size: .426667rem;
    font-weight: 700
}

.register .btn-group[data-v-28808210] {
    padding-top: .32rem
}

.register .btn-group .dx-btn[data-v-28808210] {
    margin-top: .266667rem
}

#app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: #fff
}

a {
    color: #303133
}

.white {
    color: #fff
}

.bg-white {
    background: #fff;
    border: .026667rem solid #dcdfe6!important;
    color: #606266!important
}

.bg-transparent,.bg-transparent.cube-btn_active,.bg-transparent:active {
    background: rgba(0,0,0,0)
}

.danger {
    color: #f56c6c
}

.bg-danger {
    background: #f56c6c!important
}

.bg-danger.cube-btn_active,.bg-danger:active {
    background: rgba(245,108,108,.8)
}

.success {
    color: #67c23a
}

.bg-success {
    background: #67c23a
}

.bg-success.cube-btn_active,.bg-success:active {
    background: rgba(103,194,58,.8)
}

.blue {
    color: #409eff
}

.bg-blue {
    background: #409eff
}

.bg-blue.cube-btn_active,.bg-blue:active {
    background: rgba(64,158,255,.8)
}

.warning {
    color: #e6a23c
}

.bg-warning {
    background: #e6a23c
}

.bg-warning.cube-btn_active,.bg-warning:active {
    background: rgba(230,162,60,.8)
}

.info {
    color: #909399
}

.bg-info {
    background: #909399
}

.bg-info.cube-btn_active,.bg-info:active {
    background: rgba(144,147,153,.8)
}

.black {
    color: #000
}

#app,body,html {
    width: 100%;
    height: 100%;
    margin: 0
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden
}

a {
    color: #3c3c3c
}

.bottomSlide-enter-active,.bottomSlide-leave-active {
    transition: all .3s
}

.bottomSlide-enter,.bottomSlide-leave-to {
    transform: translate3d(0,100%,0)
}



.com-sel {
    line-height: 3rem;
    cursor: pointer;        /*鼠标上移变成小手*/
}

.com-opt {
    width: 50%;
    font-size: 50px;
    color: #999;
    /*去掉默认的下拉三角*/
    /*appearance:none;  
    -moz-appearance:none;  
    -webkit-appearance:none;*/
    /*添加下拉三角图标*/
   /*background: url("../img/tranger.jpg") no-repeat right center transparent;*/
}
.bg-purple,
.bg-purple.cube-btn_active,
.bg-purple:active {
    background: #8d4bbb
}
.bg-blue {
    background: #3976fa
}
.bg-red{
    background :red
}